/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.featurette-heading {
  font-size: 2.8rem;
}


cite > a {
  color: black;
  text-decoration: none;
}

cite > a:visited {
  color: grey;
}

cite > a:hover {
  border-bottom: 2px solid black;
}
