.hero-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/la_graziosa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  font-family: "wonder", serif;
}

/* a è figlio diretto di .logo */
.logo > a {
  text-decoration: none;
  color: black;
  outline: none;
}

h2 {
  font-family: "blacks-word", serif;
  letter-spacing: 2px;
}


h3, h5, h6 {
  text-align: center;
  font-family: "blacks-word", serif;
  font-size: 2rem;
  letter-spacing: 2px;
}


.marketing {
  text-align: center;
}

.icone {
  width: 3rem;
}

/* h5 segue img */
img + h5 {
  margin-top: 10px;
}


.nav {
  font-family: "wonder", serif;
  font-size: 1.5rem;
}

/* aspetto dei link (a, link, visited, focus, hover, active) */

/* a è figlio diretto di .card-title */
.nav-link,
.card-title > a {
  color: black;
  text-decoration: none;
}

.nav-link:link,
.card-title > a:link {
  color: black;
}

.nav-link:visited,
.card-title > a:visited{
  color: grey;
}

.nav-link:focus,
.card-title > a:focus{
  outline: 1px solid grey;
  color: black;
}


.card-title > a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.nav-link:active,
.card-title > a:active{
  color: white;
  background-color: black;
  outline: none;
}

.card-text {
  margin-top: 10%;
  font-family: "champagne", sans-serif;
}

.base-text {
  font-family: "champagne", sans-serif;
}

.lead {
  font-family: "champagne", sans-serif;
}


/* aspetto della newsletter */

.newsletter {
  font-size: 1.5rem;
}

.form-control {
 background-color: transparent;
 outline: none;
 border: none;
 border-bottom: 2px solid black;
 color: black;
 border-radius: 0;
 font-family: "champagne", sans-serif;
}

.form-control:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0.25);
}


.btn-light {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  font-family: "champagne", sans-serif;
}

.btn-light:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
