body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                      rgba(0, 0, 0, 0.5)),
                      image-set( url("../imgs/small/404.jpg") 1x, url("../imgs/404.jpg") 2x );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: white;
}

/* Il logo */
.logo {
  font-family: "wonder", serif;
  color: white;
}

.logo > a {
  text-decoration: none;
  color: white;
  outline: none;
}

/* Il sistema di navigazione */
.nav {
  font-family: "wonder", serif;
  font-size: 1.5rem;
}

.nav-link:link {
    color: white;
}

.nav-link:visited{
    color: grey;
}

.nav-link:focus {
  outline: 1px solid white;
  color: white;
}

.nav-link:active {
  color: white;
  background-color: black;
  outline: none;
}

/* testo */

h2 {
  font-family: "wonder", serif;
  font-size: 4rem;
}

.lead{
  font-family: "champagne", sans-serif;
}


/* aspetto della newsletter */

.form-control {
 background-color: transparent;
 outline: none;
 border: none;
 border-bottom: 2px solid white;
 color: white;
 border-radius: 0;
}

.form-control:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.25);
}


.btn-light {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-family: "champagne", sans-serif;
}

.btn-light:active {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7; /* Firefox */
  font-family: "champagne", sans-serif;
}

.base-text {
  font-family: "champagne", sans-serif;
}
